/*Font palette
font-family: 'Prompt', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Faster One', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
*/

body {
  font-family: 'VT323', monospace;
  font-weight: 300;
}

p {
  color: red;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 600;
  font-size: 2 rem;
}

header h2 {
  font-size: 1.2 rem;
}
